@namespace BlazorInteractiveServer.Components.UI
@using BlazorInteractiveServer.Components

<div @onclick="Close" @attributes="AdditionalAttributes">
    @ChildContent
</div>

@code {
    [CascadingParameter] public Dialog? Dialog { get; set; }
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object>? AdditionalAttributes { get; set; }

    private async Task Close()
    {
        if (Dialog != null)
        {
            await Dialog.SetOpen(false);
        }
    }
}


