@namespace BlazorInteractiveServer.Components.UI
@using BlazorInteractiveServer.Components

<div class="@Shell.Cn("flex h-10 items-center space-x-1 rounded-md border border-border bg-background p-1", ClassName)" @attributes="AdditionalAttributes">
    @ChildContent
</div>

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public string ClassName { get; set; } = "";
    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object>? AdditionalAttributes { get; set; }
}

