@namespace BlazorInteractiveServer.Components.UI

<button type="button"
        data-sidebar="rail"
        aria-label="Toggle Sidebar"
        tabindex="-1"
        @onclick="HandleClick"
        title="Toggle Sidebar"
        class="@Shell.Cn(
            "absolute inset-y-0 z-20 hidden w-4 -translate-x-1/2 transition-all ease-linear after:absolute after:inset-y-0 after:left-1/2 after:w-[2px] hover:after:bg-sidebar-border group-data-[side=left]:-right-4 group-data-[side=right]:left-0 sm:flex",
            "[[data-side=left]_&]:cursor-w-resize [[data-side=right]_&]:cursor-e-resize",
            "[[data-side=left][data-state=collapsed]_&]:cursor-e-resize [[data-side=right][data-state=collapsed]_&]:cursor-w-resize",
            "group-data-[collapsible=offcanvas]:translate-x-0 group-data-[collapsible=offcanvas]:after:left-full group-data-[collapsible=offcanvas]:hover:bg-sidebar",
            "group-data-[side=right]:group-data-[collapsible=offcanvas]:-translate-x-full",
            Class)">
</button>

@code {
    [CascadingParameter] public SidebarProvider? SidebarProvider { get; set; }

    [Parameter] public string? Class { get; set; }
    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object>? AdditionalAttributes { get; set; }

    private void HandleClick()
    {
        SidebarProvider?.Toggle();
    }
}
