@namespace BlazorInteractiveServer.Components.UI

<td class="p-4 align-middle [&:has([role=checkbox])]:pr-0 @ClassName" @attributes="AdditionalAttributes">
    @ChildContent
</td>

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }
    
    [Parameter]
    public string ClassName { get; set; } = "";
    
    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object>? AdditionalAttributes { get; set; }
}
