@namespace ShellUI.Components

<div class="@Shell.Cn(Class)" @attributes="AdditionalAttributes">
    <CascadingValue Value="this">
        @ChildContent
    </CascadingValue>
</div>

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public string? Class { get; set; }
    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object>? AdditionalAttributes { get; set; }
    
    private List<AccordionItem> _items = new();
    
    public void RegisterItem(AccordionItem item)
    {
        _items.Add(item);
    }
    
    public void UnregisterItem(AccordionItem item)
    {
        _items.Remove(item);
    }
}
