@namespace ShellUI.Components

<div class="@Shell.Cn("flex flex-col-reverse sm:flex-row sm:justify-end sm:space-x-2", Class)" @attributes="AdditionalAttributes">
    @ChildContent
</div>

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public string? Class { get; set; }
    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object>? AdditionalAttributes { get; set; }
}

