@namespace ShellUI.Components

<CascadingValue Value="this" IsFixed="true">
    <nav class="@Shell.Cn("relative z-10 flex max-w-max flex-1 items-center justify-center", ClassName)" @attributes="AdditionalAttributes">
        @if (UseNavList)
        {
            @ChildContent
        }
        else
        {
            <div class="group flex flex-1 list-none items-center justify-center space-x-1">
                @ChildContent
            </div>
        }
    </nav>
</CascadingValue>

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public string ClassName { get; set; } = "";
    [Parameter] public bool UseNavList { get; set; }
    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object>? AdditionalAttributes { get; set; }
}
