@namespace ShellUI.Components

<div class="group flex flex-1 list-none items-center justify-center space-x-1" @attributes="AdditionalAttributes">
    @ChildContent
</div>

@code {
    [CascadingParameter] public NavigationMenu? Parent { get; set; }
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object>? AdditionalAttributes { get; set; }
}
