@namespace ShellUI.Components

@if (ParentStepper != null && ParentStepper.ActiveStep == Index)
{
    <div class="mt-8">
        @ChildContent
    </div>
}

@code {
    [CascadingParameter] private Stepper? ParentStepper { get; set; }
    [Parameter] public string Value { get; set; } = "0";
    [Parameter] public RenderFragment? ChildContent { get; set; }

    private int Index => int.TryParse(Value, out var v) ? v : 0;
}
